<li>
    <a href="{{ node.item.get_absolute_url }}" {% if current_path == node.item.get_absolute_url %}class="active"{% endif %}>
        {{ node.item.title }}
    </a>

    {% if node.children %}
        {% if node.item.id in active_branch %}
            <ul>
                {% for child in node.children %}
                    {% include 'menu/menu_item.html' with node=child active_branch=active_branch current_path=current_path %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</li>
